{% extends 'core/base.html' %}

{% block local_style %}
<style>
    #summaries, #summary {
        line-height: 1.5;
    }
    #summaries .collapsable {
        border: 1px solid #333533;
    }
    #summaries .collapse-head {
        font-size: 18pt;
        background-color: #E8EDDF;
        padding: 10px 20px;
    }
    #summaries .collapse-content {
        background-color: #FDFCFA;
        padding: 10px 20px;
        display:none;
    }
    #action-items .row, #patrons .row {
        display:flex;
        padding: 5px;
    }
    #action-items .row .col {
        flex: 0 3 auto;
    }
    #action-items .row .col:first-child {
        flex: 0 0 100px;
    }
    .party-r {
        color:#b22222;
        font-weight: bold;
    }
    .party-d{
        color:#00a8e8;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block left_nav %}
<form id="search-form" action="{% url 'search' %}">
    {{ search_form }}
</form>
<br/>
<a href="{% url 'search' %}">Advanced Search</a>
<hr>
{% endblock %}
{% block content %} 
    <h1 id="bill-number">{{ bill.bill_number }}</h1>
    <div id="subtitle">{{ bill.title }}</div>
    {% if summaries|length == 1 %}
    <div id="summary">
        <h2>Summary</h2>
        <p>
            {{ summaries.first.content }}
        </p>
    </div>
    {% else %}
    <h2>Summaries</h2>
    <div id="summaries">
        {% for summary in summaries %} 
        <div class="collapsable">
            <div class="collapse-head" data-target="sum{{ summary.pk }}">
                {{ summary.category }}
            </div>
            <div class="collapse-content collapsed" id="sum{{ summary.pk }}">
                {{ summary.content }}
            </div>
        </div>
        {% endfor %} 
    </div>
    {% endif %} 
    <div id="patrons">
        <h2 class="collapse-head" data-target="patron-items">Patrons</h2>
        <div class="collapse-content" id="patron-items">
            {% for patron in patrons %} 
                <div class="row" id="pat{{ patron.pk }}">
                    {{ patron.patron_type }} {{ patron.legislator.name }} 
                    (<span class="party-{{ patron.legislator.party|lower }}">{{ patron.legislator.party }}</span>)
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="committees" class="collapsable">
        <h2>Committees</h2>
    </div>
    <div id="actions">
        <h2 class="collapse-head" data-target="action-items">Actions</h2>
        <div class="collapse-content" id="action-items">
            {% for action in actions %} 
            <div class="row" id="act{{ action.pk }}">
                <div class="col">
                    {{ action.d_action|date:'m/d/Y' }}
                </div>
                <div class="col">
                    {{ action.description }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}