{% extends 'core/base.html' %}

{% block local_style %}
<style>
</style>
{% endblock %}

{% block left_nav %}
<form id="search-form" action="{% url 'search' %}">
    {{ search_form }}
</form>
<br/>
<a href="">Advanced Search</a>
<hr>
{% endblock %}
{% block content %} 
    <h1 id="bill-number">{{ bill.bill_number }}</h1>
    <div id="subtitle">{{ bill.title }}</div>
    {% if summaries|length == 1 %}
    <div id="summary">
        <h2>Summary</h2>
        <p>
            {{ summaries.first.content }}
        </p>
    </div>
    {% else %}
    <h2>Summaries</h2>
    <div id="summaries">
        {% for summary in summaries %} 
        <div class="collapsable">
            <div class="collapse-head" data-target="sum{{ summary.pk }}">
                {{ summary.category }}
            </div>
            <div class="collapse-content collapsed" id="sum{{ summary.pk }}">
                {{ summary.content }}
            </div>
        </div>
        {% endfor %} 
    </div>
    {% endif %} 
    <div id="patrons">
        <h2>Patrons</h2>
        <div class="collapse-head" data-target="patron-items">
            {% for patron in bill.patrons.all %} 
                <div class="row" id="pat{{ patron.pk }}">
                    <div class="col">{{ patron.patron_type }}</div>
                    <div class="col">
                        {{ patron.legislator.name }} 
                        (<span class="party-{{ patron.legislator.party|lower }}">{{ patron.legislator }}</span>)
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="committees" class="collapsable">
        <h2>Committees</h2>
    </div>
    <div id="actions">
        <h2 class="collapse-head" data-target="action-items">Actions</h2>
        <div class="collapse-content" id="action-items">
            {% for action in actions %} 
            <div class="row" id="act{{ action.pk }}">
                <div class="col">
                    {{ action.d_action|date:'m/d/Y' }}
                </div>
                <div class="col">
                    {{ action.description }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}